/*Variables*/
$color1: gold;
$color2: goldenrod;
$color3: darkgoldenrod;
$color4: red;
$color5: beige;
$color6: black;
$color7: #333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color3;    
}

header {
    background-color: $color1;
    color: $color4;
    width: 100%;
    height: 100px;
}

.containerLogo {
    width: 100px;
    height: 100px;
}

.logo {
    width: 100%;
    border-radius: 8%;
}

/* prefixer para Chrome*/
::-webkit-scrollbar-track {    
    border-radius: 5px;
    background-color: $color3;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: $color2;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;    
    background-color: $color1;
}

.navbar {
    background-color: $color2;
    a {
        color: $color6;
    }
    :active {
        color: $color4;
    }
}


.jumbotron {
    background-image: url(img/barrilcervezas.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    margin-bottom: 0;
    h1 {
        color: $color2;
        text-align:start;
        font-size: 45px;
    
        span {
            color: $color5;
            //color: $color2;
        }
    }

    p {
        color: $color4;
        text-shadow: 0 0 2px #333;
        font-size: 20px;
    }
}

/*Sección 1*/
.servicios1 {
    background-color: $color4;
    min-height: 550px;
    width: 100%;
}

.feature {
    background-color: $color2;
    height: 270px;
    width: 100%;
    border: 2px solid $color4;
    border-radius: 5%;
    padding: 5px 10px;

    h4 {
        text-align: center;
        color: beige;
        font-size: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    img {
        align-items: center;
        width: 100%;
        height: 85%;
    }
}


/*Sección 2*/
.h2 {
    background-color: $color2;
    color: $color5;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.seccion2 {    
    min-height: 200px;
    .h3 {
        color: $color5;
        text-align: center;
        font-size: 22px;
    }
    h4 {
        color: $color4; 
        padding-left: 20px;}

    p {
        color: $color6;
        text-align: center;
        font-size: 20px;
        text-align: start;
        width: 70%;
        padding-left: 30px;
    }
}


.sleft {
    background-image: url(img/flamenco2.svg);
    background-size: cover;
    background-position: center;    
    width: 33.33%;
    height: 500px;
    text-align: start;
}

.sright {
    background-image: url(img/flamenco1.svg);
    background-size: cover;
    background-position: initial;    
    width: 33.33%;
    height: 500px;    
}

.sec {
    width: 33.33%;
    
}

.carousel-inner img {
    width: 100%;
    height: 100%;

}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 2px solid $color2;
}

.carousel-item p {
    color: $color5;
    text-align: center;
width: 100%;
}

/*Sección 3*/
.servicios3 {
    background-color: $color4;
    min-height: 150px;
    width: 100%;
}

.feature3 {
    background-color: $color2;
    height: 150px;
    width: 100%;
    border: 2px solid $color4;
    border-radius: 5%;
    padding: 10px 20px;
    h4 {
        text-align: center;
        color: $color5;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    i {
        text-align: center;
        color: $color4;
        font-size: 20px;
    }
    p {
        text-align: justify;
        color: $color5;
    }
}

footer {
    background-color: $color4;
    width: 100%;
    min-height: 100px;
    color: $color5;
    padding: 20px;
    p {
        font-size: 20px;
    }
    a {
        color: $color5;
        font-size: 20px;
        letter-spacing: 20px;
        text-align: center;
    }
}

.subir {
    height: 40px;
    width: 40px;
    background-color: $color1;
    border: 3px solid $color5;
    color: $color7;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 4px 4px 15px $color6;}


/*Nosotros*/
    .h2_subtitulo {
        color: $color5;
        text-align: center;
        font-size: 30px;
        background-color: $color2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid $color5;
    }
    
    .nosotros {
        height: 450px;
        width: 98%;
        background-attachment: fixed;
        display: flex;
    }
    
    .borde {
        border: 2px solid $color4;
        padding: 10px;
        margin: 10px;
    }
    
    .nleft {
        width: 50%;
        background-image: url(img/nosotros.jpg);
        border: 5px solid $color5;
        background-size: cover;
        background-position: center;
        padding: 10px;
        margin: 10px;
    }
    
    .nleft img {
        width: 100%;
    }
    
    .nrigth {
        background-image: url(img/1.jpg);
        background-size: cover;
        background-position: center;
        width: 50%;
        padding: 10px;
        h3 {
            text-align: center;
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        p {
            padding-bottom: 10px;
            font-size: 12px;
        }
        a {
            height: 5px;
            background-color: $color2;
            color: $color6;
            border-radius: 5px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
            border: 2px solid $color6;
            width: 600;
            padding: 2px;
            margin-left: 90px;
        }
        a:hover {
            background-color: $color3;
        }
    }
        
    .galeria {
        background-color: $color4;
        min-height: 600px;
        width: 98%;
        padding: 3%;
        gap: 3px;
    }
    
    .img {
        border: 5px solid $color5;
        height: 280px;
        color: $color5;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        text-align: center;
        transition: all 0.75s;
        :hover {
            transform: scale(1.05);
            transition: all 0.75s;
            filter: sepia(100%);
        }
    }
        
    .img1 {
        background-color: $color1;
        background-image: url(img/fabrica.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .img2 {
        background-color: $color2;
        background-image: url(img/2.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .img3 {
        background-color: $color3;
        background-image: url(img/3.jpeg);
        background-size: cover;
        background-position: center;
    }
    
    .img4 {
        background-color: $color4;
        background-image: url(img/4.jpeg);
        background-size: cover;
        background-position: center;
    }
    
    .img5 {
        background-color: $color5;
        background-image: url(img/vaso.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .img6 {
        background-color: $color6;
        background-image: url(img/guayamuri.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .img7 {
        background-color: $color7;
        background-image: url(img/alcazares.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .img8 {
        background-color: $color1;
        background-image: url(img/pescadores.jpg);
        background-size: cover;
        background-position: center;
    }