@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Island+Moments&family=Moon+Dance&display=swap');

//fonts

$font1: 'Barlow', sans-serif;
$font2: 'Island Moments', cursive;
$font3: 'Moon Dance', cursive;

h2 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: blue;
    text-shadow: 5px 5px 10px #333;
    font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

//sass nos permite la incorporacion sencilla de operaciones matematicas
//operadores - inicio
$ancho: 720px;
$alto: 200px;

$var1: 100%;
$var2: 50%;

$blue: blue;
$green: #0f9243;
$red: darkred;
$black: black;
$white: rgb(10, 5, 5);

$xs: 15px;
$small: 20px;
$med: 40px;
$large: 60px;
$xl: 80px;

// paleta colores

$color1: #ff000f;
$color2: #ff000f;
$color3: #ff000f;
$color4: #ff000f;
$color5: #fafa0f;
$color6: #dfa00f;

//dimensiones

$size1: 100%;
$size1: 50%;
$size1: 20px;
$size1: 50px;

//fonts

$font1: cursive;
$font2: cursive;
$font3: cursive;
$font4: cursive;
$font5:  'Oswald', sans-serif;


.box__uno {
    background-color: $blue;
    width: ($var1) - ($var2);
    /* Ancho de 50%*/
    height: $alto*2;
    /* altura 400px*/
}

.box__dos {
    background-color: $green;
    width: ($ancho/2)-250;
    height: $alto+450;
    /*650px*/
}


$size: 150px;

.titulo {
    font-size: ($size/2)-40;
    //  math.div($size, 2);
    color: red;
    text-align: center;
    font-family: $font5;
}

//operadores - fin

//los condicionales Permiten establecer reglas para validar si se aplica o no una acción,
//cambio o asignación en el atributo de un elemento.
//Estas condiciones podrán incluir comparadores típicos (==, !=, <, >)
// == igual
// != distinto
// < menor
// > mayor
// <= menor o igual
// >= mayor o igual
// condicionales - inicio

p {
    height: $alto;
    width: $ancho;
    background-color: $red;
    font-size: $large;
    text-align: center;
}


$animal: caballos;

/* Mi constante */
p {
    @if $animal == gato {
        color: tomato;
        background-color: turquoise;
    }

    @else if $animal==perro {
        color: teal;
    }

    @else if $animal==caballo {
        color: green;
    }

    @else {
        color: coral;
        background-color: #333;
    }
}

//otro ejemplo de condicional

.cont1 {
    height: 400px;
    width: 700px;
}

$img1: egret;
$img2: puma;
$img3: sea-slug;
$img4: otro;
$animal: $img1 ;

/* Mi constante */
.cont1 {
    @if $animal==egret {
        color: orange;
        background-image: url("img/egret.jpg");
        background-position: center;
        background-size: cover;
    }

    @else if $animal==$img2 {
        color: red;
        background-color: yellow;
        background-image: url("img/puma.jpg");
        background-position: center;
        background-size: cover;
    }

    @else if $animal==sea-slug {
        color: green;
        background-image: url("img/sea-slug.jpg");
        background-position: center;
        background-size: cover;
    }

    @else {
        color: coral;
        background-color: #333;
    }
}

// condicionales - fin

//Un bucle es una secuencia que repite más de una vez en una porcion de codigo, dada cierta condicion
//Cuando la misma deja de cumplirse, el bucle finaliza

// bucles -inicio

.para {
    height: 200px;
    background-color: yellow;
    border: 2px solid #333;
}

@for $i from 1 through 4 {
    $i: 6;
    .casitodos-#{$i} {
        width: 6em * $i;
        // font-size: 20px * $i;
    }
    $i: $i - 2
}

//otro ejemplo de bucle for

@for $in from 1 through 5 {

    .bucle-#{$in} {
        width: 400px ;
        height: 200px;
        background-color: purple;
        border: 2px solid #333;
        text-align: center;
        font-size: 50px;
    }
}

$base-color: #036;
$base-color: #3ff;

@for $in from 1 through 5 {
    .bucle-#{$in} {
        background-color: lighten($base-color, $in * 10%);
        background-color: darken($base-color, $in * 10%);
    }
}

//bucles - fin


//each - inicio

.puma-icon, .egret-icon, .sea-slug-icon {
    height: 250px;
    width: 400px;
    border: 2px solid #333;
}

@each $animal in puma, sea-slug, egret {
    .#{$animal}-icon {
        //background-image: url("img/puma.jpg");
        background-image: url("img/#{$animal}.jpg");
        background-size: cover;
        background-position: center;
    }
}

/*animal tendrá los valores de cada uno */


// otro ejemplo de uso del @each

$colores: red,blue,black,orange,violet;

@each $color in $colores  {
    .color-#{$color} {
        border-color: $color;
        color: $color;
        background-color: $color;
        font-size: 60px;
        text-shadow: 5px 5px 5px #fff;
        border: 2px solid;
        height: 200px;
        width: 600px;
    }
}



//each fin 


//Los mapas son variables cuyo valor es una colección de variables.
//Se definen con un nombre que los identifica. Las claves suelen ser cadenas o números,
//mientras que los valores pueden ser cualquier tipo de dato. 
//ejemplo: $map: (key1: value1, key2: value2, key3: value3);

//maps - incio

$redes: (
    /*Declaramos nuestro mapa*/
    red1: cursive,
    red2: monospace,
    red3: serif,
    );

/*Creamos el bucle para usar los valores del mapa*/
@each $red, $font in $redes {
    .btn--#{$red} {
        background-color: #333;
        height: 200px;
        width: 500px;
        border: 2px solid #111;
        text-align: center;
        font-size: 50px;
        line-height: 200px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 0 0 5px #f00 ;
        font-family: $font;
    }
}

//maps -fin


//con los extends vamos a agregar los estilos de otra clase
//extens - inicio

.redsocial {
    border: 3px solid #f00;
    background-color: orangered;
    height: 300px;
    width: 600px;
    padding: 20px;
}

.redsocial--nueva {
    @extend .redsocial;
    border-width: 3px;
    color: #fff;
    font-size: $large;
}

//extens - fin


//Los mixins Te permiten definir estilos que pueden ser reutilizados en tu proyecto.
//Una de las mayores diferencias con los Extend, es que los Mixins pueden recibir argumentos,
//los cuales nos permitirán producir una gran variedad de estilos con unas simples líneas.

//mixins - inicio

.box {
    background-color: $green;
    font-size: $large;
    color: #fff;
    text-align: center;
}

@mixin sizes($width, $height, $bcolor) {
    height: $height;
    width: $width;
    background-color: $bcolor;
}

.box {
    @include sizes(600px, 300px, blue);
    
}

.box2 {
    @include sizes(400px, 500px, green);
    //background-color: red;
    color: white;
    text-align: center;
    font-size: $large;
}

//mixins - fin

//whilleee - inicio

.whi {
    height: 200px;
    background-color: palegreen;
    width: 500px;
    border: 2px solid #ccc;
}
//whillee - fin





/* Mi constante */
$img1: 1;
$img2: 2;
$img3: 3;
$img4: 4;
$tarjeta: $img1 ;

.feature3 {
    @if $tarjeta==$img1 {
        color: $color2;
        background-image: url("img/logo.png");
        background-position: top;
        background-size: cover;
    }

    @else if $tarjeta==$img2 {
        color: blue;
        background-color: yellow;
        background-image: url("img/puma.jpg");
        background-position: center;
        background-size: cover;
    }

    @else if $tarjeta==$img3 {
        color: green;
        background-image: url("img/sea-slug.jpg");
        background-position: center;
        background-size: cover;
    }

    @else if $tarjeta==$img4 {
        color: green;
        background-image: url("img/sea-slug.jpg");
        background-position: center;
        background-size: cover;
    }

    @else {
        color: coral;
        background-color: $color2;
        height: 100%;
        width: $ancho;
        border: 2px solid $color4;
        border-radius: 5%;
        padding: 10px 20px;
        
        h4 {
            text-align: center;
            color: $color5;
            font-size: $font-small;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    
        i {
            text-align: center;
            color: $color4;
            font-size: $font-small;
        }
    
        p {
            text-align: justify;
            color: $color5;
        }
    }
}